{{ template "base" . }}

{{ define "title" }} RPS web - About {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Diego Arroyo</h2>
                <p>Soy un desarrollador web con experiencia en la creacióon de sitios web interactivos</p>
                <p>¡Bienvenido a mi página web del juego Piedra, Papel o Tijera!</p>
                <ul class="py-3">
                    <li><a href="https://diegoarroyo.netlify.app" target="_blank">Mi Portafolio</a></li>
                    <li><a href="https://github.com/DiegoArroyo12" target="_blank">Mi GitHub</a></li>
                    <li><a href="https://www.instagram.com/_diegoarroyooo/" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}